*, *::before, *::after{
    box-sizing: border-box;
}

nav{
    width: 1110px;
    position: absolute;
    background: transparent;
    z-index: 1;
    display: inline;
    margin-left: 200px;
}

nav ul{
    text-align: right;
    display: inline;
    align-content: right;
 }
 
 ul a{
     float: right;
     padding: 5px 10px;
     margin-top: 15px;
     margin-right: 15px;
     font-size: 22px;
     color: #fff;
     text-decoration: none;
     align-items: flex-end;
 
 }
 
 
 nav ul a:hover{
     color: #FF9677;
 }
 
 .fa {
     padding: 20px;
     font-size: 30px;
     width: 30px;
     text-align: center;
     text-decoration: none;
     border-radius: 50%;
     align-content: right;
     float: right;
     margin-right: 25px;
     margin-top: 10px;
     
 }
 
 .fa-instagram {
   background: transparent;
   color: #fff;
 } 
 
.fa-bell {
    background: transparent;
   color: #fff;
} 

.fa-facebook{
    background: transparent;
    color: #fff;
}


   .logo >img{
    width: 100px;
    align-content: inherit;
    align-items: flex-start;
    padding: 10px;
    height: 60px;
    clip-path: circle(50% at 50% 50%);
    margin-top: 13px;
    margin-left: 200px;
}   

.logo{
   margin-top: 13px;
}

nav ul a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #5e9387;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul a:hover::after{
    width: 100%;
    
}

.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
        
}

.carousel{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide[data-active]{
    opacity: 1; 
}

.slide > img{
    display: block;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.carousel-button{
    position:absolute;
    background: transparent;
    z-index: 2;
    transform: translateY(-50%);
    border: none;
    font-size: 2em;
    text-decoration: none;
    background-color: rgba(0,0,0, .1);
    border-radius: .25rem;
    cursor: pointer;
    padding: 0 .5rem;
    background: transparent;
    top:50%;

}

.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel-button:hover,
.carousel-button:focus{
     background-color: transparent;
}

.carousel-button:focus{
    background-color: transparent;
}


.carousel-button.prev{
    left: 1rem;
}

.carousel-button.next{
    right: 1rem;
}

.carousel-button:focus,
.carousel-button:hover{
    color: white;
    background-color: rgba(0, 0, 0, .2);
}


#cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    left: 0;
    right: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}  

#cursor2{
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: wheat;
    border-radius: 50%;
    left: 0;
    right: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
}