*, *::before, *::after{
    box-sizing: border-box;
}

nav{
    width: 1110px;
    position: absolute;
    background: transparent;
    z-index: 1;
    display: inline;
    margin-left: 200px;
}

nav ul{
    text-align: right;
    display: inline;
    align-content: right;
 }
 
 ul a{
     float: right;
     padding: 5px 10px;
     margin-top: 15px;
     margin-right: 15px;
     font-size: 22px;
     color: black;
     text-decoration: none;
     align-items: flex-end;
 
 }
 
 
 nav ul a:hover{
     color: #FF9677;
 }
 
 .fa {
     padding: 20px;
     font-size: 30px;
     width: 30px;
     text-align: center;
     text-decoration: none;
     border-radius: 50%;
     align-content: right;
     float: right;
     margin-right: 25px;
     margin-top: 10px;
     
 }
 
 .fa-instagram {
   background: transparent;
   color: black;
 } 
 
.fa-bell {
    background: transparent;
   color: black;
} 

.fa-facebook{
    background: transparent;
    color: black;
}


   .logo >img{
    width: 100px;
    align-content: inherit;
    align-items: flex-start;
    padding: 10px;
    height: 60px;
    margin-top: 13px;
    margin-left: 200px;
}   

.logo{
   margin-top: 13px;
}

nav ul a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #5e9387;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul a:hover::after{
    width: 100%;
    
}

.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;    
}

.carousel{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide[data-active]{
    opacity: 1; 
}

.slide > img{
    display: block;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.carousel-button{
    position:absolute;
    background: transparent;
    z-index: 2;
    transform: translateY(-50%);
    border: none;
    font-size: 2em;
    text-decoration: none;
    background-color: rgba(0,0,0, .1);
    border-radius: .25rem;
    cursor: pointer;
    padding: 0 .5rem;
    background: transparent;
    top:50%;

}

.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel-button:hover,
.carousel-button:focus{
     background-color: transparent;
}

.carousel-button:focus{
    background-color: transparent;
}


.carousel-button.prev{
    left: 1rem;
}

.carousel-button.next{
    right: 1rem;
}

.carousel-button:focus,
.carousel-button:hover{
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.Develop{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin-top: 100px;
}

#img5{
    clip-path: circle(50% at 50% 50%);
    width: 250px;
    height: 230px;
    position: relative;
    right: -415px;
}

.mnu{
    padding-left: 1045px;
    position: relative;
    top: -98px;
    left: -75px;
    font-family: 'Crimson Text', serif;
}

#img4{
    clip-path: circle(50% at 50% 50%);
    width: 250px;
    height: 230px;
    position: relative;
    right: -250px;
}

.mlit{
    padding-left: 1050px;
    position: relative;
    top: -260px;
    left: -133px;
}

.img5::before{
    content:attr(title);
    visibility: hidden;
    opacity: 0;
    background-color: black;
    text-align: center;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 100%;
}

.img5:hover{
    opacity: 1;
    visibility: visible;
}

.img4::before{
    content:attr(title);
    visibility: hidden;
    opacity: 0;
    background-color: black;
    text-align: center;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 100%;
}

.img4:hover{
    opacity: 1;
    visibility: visible;
}

#img3{
    clip-path: circle(50% at 50% 50%);
    width: 250px;
    height: 230px;
    position: relative;
    right: -65px;
}

.Pbv{
    padding-left: 545px;
    position: relative;
    top: -0.10px;
    left: -425px;
    font-family: 'Crimson Text', serif;
}

.olp{
    padding-left: 795px;
    position: relative;
    top: -47px;
    left: -232px;
    font-family: 'Crimson Text', serif;
}

.img3::before{
    content:attr(title);
    visibility: hidden;
    opacity: 0;
    background-color: black;
    text-align: center;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 100%;
}

.img3:hover{
    opacity: 1;
    visibility: visible;
}

.mit{
    padding-left: 770px;
    position: relative;
    top: -200px;
    left: -270px;
}

.back{
    padding-left: 600px;
    position: relative;
    top: -149px; 
    left: -540px;   
}

.footer-basic {
    padding:40px 0;
    background-color: #339476;
    color:#339476;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:15px;
    color: #ccc;
    margin-bottom:0;
    font-family: 'Tai Heritage Pro', serif;
  }

  .list-inline-item{
    color: #ccc;
    font-family: 'Tai Heritage Pro', serif;
  }

  .fa-twitter {
    background: transparent;
    color: black;
  }   

.fa-linkedin{
    background: transparent;
    color: black;
}  